altgraph==0.17.4
asgiref==3.8.1
charset-normalizer==3.4.2
Django==5.0.2
idna==3.10
packaging==23.2
pefile==2023.2.7
pillow==9.5.0
pyactiveresource==2.2.2
pygame==2.6.1
pygame-ce==2.5.2
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2024.1
PyJWT==2.10.1
PySimpleGUI==4.60.5
PyTMX==3.32
pywin32-ctypes==0.2.2
PyYAML==6.0.2
setuptools==69.1.0
ShopifyAPI==12.7.0
six==1.17.0
sqlparse==0.4.4
typing_extensions==4.14.0
tzdata==2024.1
urllib3==2.5.0
gunicorn==21.2.0
stripe==8.4.0
flask==3.1.0
