<!--  blog/templates/spanish.html -->

{% extends 'base.html' %}
{% block page_title %}
    <h2>Spanish</h2>
    <br/>
{% endblock page_title %}

{% block page_content %}
<h3>Indicaciones</h3>
<p>Inhala para activar, exhala vapor. Repita según lo desee</p>

<h3>Ingredientes</h3>
<p>Aceite de cannabis, terpenos de resina viva</p>

<h3>Renuncia</h3>
<p>Este producto contiene cannabis y está 
    destinado a ser utilizado por adultos mayores de 21 años. 
    Su uso puede perjudicar la cognición y puede crear hábito. 
    Este producto no debe usarse si está embarazada o amamantando. 
    Es ilegal vender o proporcionar este artículo a cualquier persona, 
    y no puede ser transportado fuera del estado de Illinois. La posesión o el uso de este producto puede conllevar sanciones legales significativas en algunas jurisdicciones y según la ley federal. Fumar es peligroso para la salud.</p>

{% endblock page_content %}