<!--  blog/templates/warnings.html -->

{% extends 'base.html' %}
{% block page_title %}
    <h2>Warnings</h2>
    <br/>
{% endblock page_title %}

{% block page_content %}
<h3>Directions</h3>
<p>Inhale to activate, exhale vapor. Repeat as desired</p>

<h3>Ingredients</h3>
<p>Cannabis oil, live resin terpenes</p>

<h3>Disclaimer</h3>
<p>This product contains cannabis and is intended for use by adults 21 and over. 
    It's use can impair cognition and may be habit forming. 
    This product should not be used if pregnant or breast-feeding. 
    It is unlawful to sell or provide this item to any individual, 
    and it may not be transported outside the state of Illinois. 
    Possession or use of this product may carry significant legal penalties in some jurisdictions and under federal law. 
    Smoking is hazardous to your health. </p>
{% endblock page_content %}