{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}
  <h2 class="text-center mt-4">🎁 Claim Your Prize</h2>
{% endblock page_title %}

{% block page_content %}
<form method="post">
  {% csrf_token %}
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label for="prize">Prize</label>
    <input type="text" name="prize" value="{{ prize }}" readonly>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock page_content %}
